{% extends 'base.html.twig' %}

{% block title %}Exemple index{% endblock %}

{% block body %}
    <h1>Exemple index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exemple in exemples %}
            <tr>
                <td>{{ exemple.id }}</td>
                <td>{{ exemple.nom }}</td>
                <td>
                    <a href="{{ path('exemple_show', {'id': exemple.id}) }}">show</a>
                    <a href="{{ path('exemple_edit', {'id': exemple.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('exemple_new') }}">Create new</a>
{% endblock %}
